<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="title">Sentiment Analyzer</div>
      <div class="sub-title">
        Enter a URL of an article to reveal its sentiment
      </div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <label for="name" class="url-label">URL</label>
          <input
            class="url-input"
            type="text"
            name="input"
            value=""
            placeholder="URL"
          />
          <input
            type="submit"
            class="btn"
            name=""
            value="Analyze"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <div class="results-title">Analysis Results:</div>
      <section id="results">
        
        </div>
      </section>
    </main>

    <footer>
      <p>Youssef Girgeis © - 2022 Udacity Project</p>
    </footer>
  </body>
</html>
