#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

#results div {
  font-size: 1.2rem;
}

.results-title {
  text-decoration: underline;
  text-align: center;
  font-size: 1.4rem;
}

#error {
  color: tomato;
}
